<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Glömt Lösenord</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href='@{/css/navbar.css}'>

</head>
<body>
    <div class="container text-center">
        <form class="form-email">
            <h1 class="h3 mb-3 font-weight-normal">Glömt lösenordet</h1>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control" placeholder="namn@exempel.com" required autofocus>
            <button class="btn btn-lg skickabutton btn-block" type="submit">Skicka email till mig</button>

            <div class="tillbakalink"> <p><i class="fas fa-chevron-left"></i><a th:href="@{/login}">Tillbaka</a>
              
            </div>
            <p class="mt-5 mb-3 text-muted">Nerd Blister Team Ltd. &copy; 2019</p>
            
        </form>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>