<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/login.css"> <!--Ändra på punkterna-->
    <link rel="stylesheet" type="text/css" href='../../static/css/navbar.css'> <!--Ändra på punkterna-->
    
</head>

<body>

    <header class="header">

        <div class="description ">

        </div>

    </header>

    <!-- navbar -->

    <nav class="navbar navbar-expand-lg fixed-top ">

            <a class="navbar-brand" href="#">Hem</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
                <span class="navbar-toggler-icon"></span>
    
            </button>
    
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
    
                <ul class="navbar-nav mr-4">
                    <li class="nav-item">
                        <a class="nav-link" data-value="about" href="#">Om oss</a> </li>
                    <li class="nav-item">
                        <a class="nav-link " data-value="portfolio" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-value="blog" href="#">Registrera</a> </li>
                    <li class="nav-item">
                        <a class="nav-link " data-value="team" href="#"> Team</a> </li>
                    <li class="nav-item">
                        <a class="nav-link " data-value="contact" href="#">Kontakt</a> </li>
                </ul>
            </div>
        </nav>
        <!-- navbar -->

        <div class="container text-center">
                <form class="form-signin" action="log" method="post">
                    <!-- <i class="fas fa-gamepad fa-5x"></i> -->
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="userName" class="sr-only">User Name</label>
                    <input type="text" id="userName" name="username" class="form-control" placeholder="Username" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                    <p><a href="forgottenpassword.html">Forgot your password?</a> or <a href="registrering.html">Create
                            account</a></p>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
                  
                </form>
            </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>