<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profil Sida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href='@{/css/profilsida.css}'>

</head>

<body>

  <script type="text/javascript" th:src="@{/js/main.js}"></script>

  <div class="vertical-menu vertical-center">
    <a href="#" class="active">Profil</a>
    <a href="#rumlista">Rumlista</a>
    <a href="#kalender">Kalender</a>
    <a href="#kontakter">Kontakter</a>
    <a href="#bokningar">Mina bokningar</a>
    <a href="#inställningar">Inställningar</a>
  </div>

  <div id="container">
    <div class="section">
      <h1><a name="Rumlista">Headline One</a></h1>
      <p>Lorem ipsum dolor sit amet...</p>
    </div><br><br><br><br><br><br><br><br><br>

    <div class="section">
      <h1><a name="kalender">Headline Two</a></h1>
      <p>Lorem ipsum dolor sit amet...</p>
    </div><br><br><br><br><br><br><br><br>

    <div class="section">
      <h1><a name="kontakter">Headline Three</a></h1>
      <p>Lorem ipsum dolor sit amet...</p>
    </div><br><br><br><br><br><br><br><br>

    <div class="section">
      <h1><a name="bokningar">Headline Four</a></h1>
      <p>Lorem ipsum dolor sit amet...</p>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="section">
      <h1><a name="inställningar">Headline Five</a></h1>
      <p>Lorem ipsum dolor sit amet...</p>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <script type="text/javascript" src='main.js'></script>
</body>

  </html>