.container {
  margin-top: 10rem;
  max-width: 800px;
}

.create-box {
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
}

 .btn-add-room {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
   border: 1px solid #666;
   background: #690000;
   color: #fff;
 }

 .form-createroom,
 .table-rooms {
   width: 100%;
   max-width: 600px;
   padding: 15px;
   margin: auto;
 }

 .form-add-invite .form-control {
   position: relative;
   box-sizing: border-box;
   height: auto;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
 }

 .form-createroom .form-number {
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     padding-top: 0.5rem;
 }

 .form-createroom .form-check {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      padding-top: 0.5rem;
  }

 .btn-delete-room {
   padding: 0 0.5rem;
   border: 1px solid #666;
   background: #690000;
   color: #fff;
 }

 .btn-add-room:hover,
 .btn-delete-room:hover {
   background: #666;
 }

a{
  color: #690000;
}

a:hover{
  color: rgba(179, 179, 179, 0.733);
}
