html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}

.loggbutton{
    border: 1px solid #666;
    background: #690000;
    color: #fff;

}
.loggbutton:hover{
  background: #666;
}

.text-center{
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background: rgb(255, 255, 255);

}
.container a{
color: #666;
}

.container {
  margin-top: 5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 5rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin i {
  color: #666;
}

.form-signin .checkbox {
  font-weight: 400;
}

.alternatives {
  font-size: 0.8rem;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-control:hover{
  border: 3px solid rgba(102, 102, 102, 0.418);
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control:focus {
  border: 4px solid rgba(102, 102, 102, 0.418);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
