.navbar{
    background-color: #690000
}

.navbar-brand {
    color: white;
    cursor: pointer;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}

.nav-link {
    margin-right: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.navbar-collapse {
    justify-content: flex-end;
}

.fa-bars {
    color: #690000
}

.navbar-brand:hover {
    color: rgba(179, 179, 179, 0.733);
}

.nav-link:hover {
    color: rgba(179, 179, 179, 0.733);
}
