a {
    font-family: "Raleway";
}

.nav-link,

.navbar{
    color: #690000
}

.navbar-brand {
    color: #690000;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.fa-bars {
    color: #690000
}

.navbar-brand:hover {
    color: rgba(179, 179, 179, 0.733);
}

.nav-link:hover {
    color: rgba(179, 179, 179, 0.733);
}

.greatv {
    font-family: 'Great Vibes';
    font-size: 35px;
}