.navbar{ background:#690000;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.main-name,.email-info{
  text-align:center;
  margin:0;
}

.main-name{
  margin-top:10px;
  margin-bottom:10px;
  font-family: 'Cinzel', serif;
}

.profile-img-section .profile-img{
 position:absolute;
 left:50%;
 top:50%;
 transform:translate(-50%,-50%);
 width:200px;
 height:200px;
}
.profile-img{
  top:0;
  border-radius:50%;
  overflow:hidden;
  margin:0 auto;
}

 .text-information .email-info{
  color:#909090;
  margin-bottom:15px;
  font-family: 'Nunito Sans', sans-serif;
  font-size:16px;
}
 
.tab-section .tab-content,.profile-img-section,.text-information {
  padding:20px 10px;
}

 span.input-group-addon{
  min-width:50px;
}
 span.input-group-addon .fa-lg{
  font-size:20px;
}
.no-edit-forms input.form-control{
  background:#eee;
  box-shadow:none;
  pointer-events:none;
}

.profile-img-section{
  background-image: url("/static/img/bild6.jpeg");
}
