html,
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 10rem;
  max-width: 800px;
}

.booking-box {
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
}

.col-seats {
  padding-top: 1rem;
}

.form-add-booking,
.table-bookings {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.form-add-booking .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-add-booking {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #666;
  background: #690000;
  color: #fff;
}

.btn-add-booking:hover {
  background: #666;
}
