<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="vertical-menu vertical-center">
        <a href="#" class="active">Profil</a>
        <a href="#rumlista">Rumlista</a>
        <a href="#kalender">Kalender</a>
        <a href="#kontakter">Kontakter</a>
        <a href="#bokningar">Mina bokningar</a>
        <a href="#inställningar">Inställningar</a>
    </div>

    <div id="container">
        <div class="section">
            <h1><a name="Rumlista">Headline One</a></h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>

        <div class="section">
            <h1><a name="kalender">Headline Two</a></h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>

        <div class="section">
            <h1><a name="kontakter">Headline Three</a></h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>

        <div class="section">
            <h1><a name="bokningar">Headline Four</a></h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>

        <div class="section">
            <h1><a name="inställningar">Headline Four</a></h1>
            <p>Lorem ipsum dolor sit amet...</p>
        </div>
    </div>
</body>

</html>