<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <title>Rum</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href='@{/css/rum.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/navbar.css}'>
    <link rel="stylesheet" type="text/css" th:href='@{/css/verticalnavbar.css}'>

</head>

<body>

    <nav th:replace="~{/navbar :: nav}"></nav>
    <nav th:replace="~{/verticalnavbar :: div}"></nav>

    <div class="container">

        <div class="alert alert-success" role="alert" th:if="${success}">
            Rummet är bokat!
        </div>

        <div class="booking-box">
            <div class="row">
                <div class="col">
                    <h1 th:text="${name}"></h1>
                </div>
                <div class="col"></div>
                <div class="col col-seats">
                    <p><span>Sittplatser: </span><span th:text="${room.seatNum}"></span></p>
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <ul>
                        <li th:each="description : ${descriptions}" th:text="${description.tag}"></li>
                    </ul>
                </div>
            </div>
            <form class="form-add-booking" action="createbooking" method="POST">
                <div class="row">
                    <div class="col">
                        <label for="startTime" class="center">Starttid: </label>
                        <input type="time" id="startTime" name="start" class="form-control" placeholder="Starttid" required autofocus>
                    </div>
                    <div class="col">
                        <label for="stopTime" class="center">Sluttid: </label>
                        <input type="time" id="stopTime" name="stop" class="form-control" placeholder="Sluttid" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <input type="hidden" id="roomName" name="roomName" th:value="${roomName}">
                        <button class="btn btn-block btn-add-booking" type="submit">Boka</button>
                    </div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
        <div class="booking-list">
            <div class="row">
                <div class="col">
                    <h2>Bokade tider</h2>
                </div>
            </div>
            <table class="table table-sm table-hover table-striped table-bookings">
                <thead>
                <tr>
                    <th scope="col">Starttid</th>
                    <th scope="col">Sluttid</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${bookings}" class="" th:classappend="${book.isBooked()} ? table-danger : table-success">
                    <td th:text="${book.getStartClock()}"></td>
                    <td th:text="${book.getStopClock()}"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</body>

</html>