<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href='../static/css/verticalnavbar.css'>
    <title>Document</title>
</head>

<body>
    <div class="vertical-menu vertical-center">
        <a href="#" class="active">Profil</a>
        <a href="#">Alla rum</a>
        <a href="#">Kalender</a>
        <a href="#">Bjud in</a>
        <a href="#">Skapa/ta bort rum</a>
    </div>
</body>

</html>