<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Message Subject or Title</title>
</head>
<body>
<h1>Välkommen till Concierge!</h1>
<p th:text="|Hej ${user.getFullName()}!|">Hej Username!</p>
<p>ADMIN har bjudit in dig till Concierge. Klicka på länken nedan för att aktivera ditt konto.</p>
<a th:href="${baseURL} + '/activate/' + ${user.getEmail()} + '/' + ${user.getActivationCode()}">Aktivera konto</a>
<br>
<p>Varmt välkommen!</p>
<p>Concierge-teamet</p>
</body>
</html>